.info{
    display: flex;
    flex-direction: column;
    
    .bar{
        display: flex;
        width: 100%;
        gap: 20px;
        align-items: center;
        background-color: white;

        img{
            height: 80px;
            width: 80px;
            margin-left: 40px;
        }

        p{
            font-size: 20px;
            color: rgb(129, 132, 132);
            cursor: pointer;
            &:hover{
                color: rgba(98, 70, 238, 0.645);
            }
        }

        button{
            background-color: rgba(189, 189, 199, 0.868);
            height: 40px;
            width: 100px;
            margin-left: auto;
            margin-right: 100px;
            border-radius: 10px;
            border: none;
            cursor: pointer;
            &:hover{
                background-color: rgba(98, 70, 238, 0.645);
            }
        }
    }

    .main{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 40px;
        gap: 30px;

        .logo{
            display: flex;
            flex-direction: column;
            align-items: center;
            img{
                height: 200px;
            }
            p{
                color: rgb(117, 113, 113);
                font-weight: 300;
                font-size: 18px;
            }
        }

        .search{
            display: flex;
            align-items: center;
            border-radius: 5%;
            input{
                height: 70px;
                width: 30vw;
                padding: 20px;
                border: none;
                outline: none;
                font-size: 18px;
                &::placeholder{
                    color: rgb(152, 150, 150);
                }
            }
            button{
                background-color: rgba(189, 189, 199, 0.868);
                height: 70px;
                width: 50px;
                border-radius: 5%;
                border: none;
                outline: none;
                cursor: pointer;
                img{
                    height: 40px;
                    object-fit: cover;
                }
                &:hover{
                    background-color: rgba(77, 48, 224, 0.645);
                }
            }
        }

    }

    .result{
        background-color: white;
        height: max-content;
        width: 80%;
        padding: 40px;
        align-self: center;
        display: flex;
        flex-direction: column;
        gap: 20px;

    }

    .teamInfo{
        width: max-content;
        height: max-content;
        padding: 20px;
        position: absolute;
        background-color: rgb(132, 132, 240);
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        align-items: center;
        display: flex;
        flex-direction: column;
        gap: 10px;
        border-radius: 20px;
    }
}